.container-1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}
h3{
    filter: drop-shadow(0 0 10px #0a0101);
}
@media(min-width: 1000px){
    .card{
        width: 30%;
    }
};
@media(max-width: 650px){
    .card{
        width: 80%;
    }
};